<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yytx.maintenance.maintenance.dao.TenantManagerDao">
    <resultMap id="TenantMap" type="com.yytx.maintenance.maintenance.entity.Tenant">
        <id column="id" property="id"/>
        <result column="iuap_tenant_id" property="iuapTenantId"/>
        <result column="iuap_tenant_name" property="iuapTenantName"/>
        <result column="status" property="status"/>
        <result column="dr" property="dr"/>
        <result column="last_modified" property="lastModified"/>
        <result column="last_modify_user" property="lastModifyUser"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
    </resultMap>

    <resultMap id="TelephoneNumberMap" type="com.yytx.maintenance.maintenance.entity.TelephoneNumber">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="telephone_num" property="telephoneNum"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="prefix" property="prefix"/>
        <result column="infix" property="infix"/>
        <result column="area_code" property="areaCode"/>
        <result column="registration_number" property="registrationNumber"/>
        <result column="concurrency_number" property="concurrencyNumber"/>
        <result column="line" property="line"/>
        <result column="comments" property="comments"/>
        <result column="dr" property="dr"/>
        <result column="last_modified" property="lastModified"/>
        <result column="last_modify_user" property="lastModifyUser"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
    </resultMap>

    <sql id="Tenant_Column_List">
		t.id, t.iuap_tenant_id, t.iuap_tenant_name, t.`status`, t.dr,
		t.last_modify_user, DATE_FORMAT(t.last_modified, '%Y-%m-%d %H:%i:%s') as last_modified,
		t.create_user, DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s') as create_time
	</sql>

    <sql id="Telephone_Number_Column_List">
		t.id, t.tenant_id, t.telephone_num, t.`name`, t.type, t.prefix, t.infix, t.area_code,
		t.registration_number, t.concurrency_number, t.line, t.comments, t.dr,
		t.last_modify_user, DATE_FORMAT(t.last_modified, '%Y-%m-%d %H:%i:%s') as last_modified,
		t.create_user, DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s') as create_time
	</sql>

    <select id="queryPage" resultMap="TenantMap">
        select <include refid="Tenant_Column_List" />
        from ${databaseName}.base_tenant t
        where t.dr = 0
        <if test="condition!=null and condition.searchMap!=null">
            <if test=" condition.searchMap.id!=null and condition.searchMap.id>0 ">
                and t.id = #{condition.searchMap.id}
            </if>
            <if test=" condition.searchMap.iuapTenantName!=null and condition.searchMap.iuapTenantName!='' ">
                and t.iuap_tenant_name like CONCAT('%', #{condition.searchMap.iuapTenantName}, '%')
            </if>
            <!-- 创建时间 -->
            <if test="condition.searchMap.createTimeList != null and condition.searchMap.createTimeList.size() == 2
                and condition.searchMap.createTimeList[0] != null and condition.searchMap.createTimeList[1] != null">
                and t.create_time &gt;= #{condition.searchMap.createTimeList[0]}
                and t.create_time &lt;= #{condition.searchMap.createTimeList[1]}
            </if>
            <!-- 创建人 -->
            <if test="condition.searchMap.createUser!=null and condition.searchMap.createUser!=''">
                and t.create_user like CONCAT('%', #{condition.searchMap.createUser}, '%')
            </if>
            <!-- 更新时间 -->
            <if test="condition.searchMap.modifyTimeList != null and condition.searchMap.modifyTimeList.size() == 2
                and condition.searchMap.modifyTimeList[0] != null and condition.searchMap.modifyTimeList[1] != null">
                and t.last_modified &gt;= #{condition.searchMap.modifyTimeList[0]}
                and t.last_modified &lt;= #{condition.searchMap.modifyTimeList[1]}
            </if>
            <!-- 更新人 -->
            <if test="condition.searchMap.lastModifyUser!=null and condition.searchMap.lastModifyUser!=''">
                and t.last_modify_user like CONCAT('%', #{condition.searchMap.lastModifyUser}, '%')
            </if>
        </if>
        order by t.id desc
    </select>

    <select id="queryTelephoneNumberPage" resultMap="TelephoneNumberMap">
        select <include refid="Telephone_Number_Column_List" />
        from ${databaseName}.base_telephone_num t
        where t.dr = 0
        <if test="condition!=null and condition.searchMap!=null">
            <if test=" condition.searchMap.tenantId!=null and condition.searchMap.tenantId!='' ">
                and t.tenant_id = #{condition.searchMap.tenantId}
            </if>
            <if test=" condition.searchMap.telephoneNum!=null and condition.searchMap.telephoneNum!='' ">
                and t.telephone_num like CONCAT('%', #{condition.searchMap.telephoneNum}, '%')
            </if>
            <if test=" condition.searchMap.name!=null and condition.searchMap.name!='' ">
                and t.`name` like CONCAT('%', #{condition.searchMap.name}, '%')
            </if>
            <if test=" condition.searchMap.type!=null and condition.searchMap.type!='' ">
                and t.type = #{condition.searchMap.type}
            </if>
            <if test=" condition.searchMap.prefix!=null and condition.searchMap.prefix!='' ">
                and t.prefix like CONCAT('%', #{condition.searchMap.prefix}, '%')
            </if>
            <if test=" condition.searchMap.infix!=null and condition.searchMap.infix!='' ">
                and t.infix like CONCAT('%', #{condition.searchMap.infix}, '%')
            </if>
            <if test=" condition.searchMap.areaCode!=null and condition.searchMap.areaCode!='' ">
                and t.area_code like CONCAT('%', #{condition.searchMap.areaCode}, '%')
            </if>
            <if test=" condition.searchMap.registrationNumber!=null and condition.searchMap.registrationNumber!='' ">
                and t.registration_number like CONCAT('%', #{condition.searchMap.registrationNumber}, '%')
            </if>
            <if test=" condition.searchMap.concurrencyNumber!=null and condition.searchMap.concurrencyNumber!='' ">
                and t.concurrency_number = #{condition.searchMap.concurrencyNumber}
            </if>
            <if test=" condition.searchMap.line!=null and condition.searchMap.line!='' ">
                and t.line = #{condition.searchMap.line}
            </if>
            <!-- 创建时间 -->
            <if test="condition.searchMap.createTimeList != null and condition.searchMap.createTimeList.size() == 2
                and condition.searchMap.createTimeList[0] != null and condition.searchMap.createTimeList[1] != null">
                and t.create_time &gt;= #{condition.searchMap.createTimeList[0]}
                and t.create_time &lt;= #{condition.searchMap.createTimeList[1]}
            </if>
            <!-- 创建人 -->
            <if test="condition.searchMap.createUser!=null and condition.searchMap.createUser!=''">
                and t.create_user like CONCAT('%', #{condition.searchMap.createUser}, '%')
            </if>
            <!-- 更新时间 -->
            <if test="condition.searchMap.modifyTimeList != null and condition.searchMap.modifyTimeList.size() == 2
                and condition.searchMap.modifyTimeList[0] != null and condition.searchMap.modifyTimeList[1] != null">
                and t.last_modified &gt;= #{condition.searchMap.modifyTimeList[0]}
                and t.last_modified &lt;= #{condition.searchMap.modifyTimeList[1]}
            </if>
            <!-- 更新人 -->
            <if test="condition.searchMap.lastModifyUser!=null and condition.searchMap.lastModifyUser!=''">
                and t.last_modify_user like CONCAT('%', #{condition.searchMap.lastModifyUser}, '%')
            </if>
        </if>
        order by t.last_modified desc
    </select>

    <select id="selectTelephoneNumberById" resultMap="TelephoneNumberMap">
        select <include refid="Telephone_Number_Column_List" />
        from ${databaseName}.base_telephone_num t
        where t.id = #{id}
    </select>

    <insert id="addTenantTelephoneNumber" keyProperty="id" useGeneratedKeys="true">
        insert into ${databaseName}.base_telephone_num(
            `tenant_id`,
            `telephone_num`,
            `name`,
            `type`,
            `prefix`,
            `infix`,
            `area_code`,
            `registration_number`,
            `concurrency_number`,
            `line`,
            `comments`,
            `last_modify_user`,
            `last_modified`,
            `create_user`,
            `create_time`
        ) values (
            #{tenantId},
            #{telephoneNum},
            #{name},
            #{type},
            #{prefix},
            #{infix},
            #{areaCode},
            #{registrationNumber},
            #{concurrencyNumber},
            #{line},
            #{comments},
            #{lastModifyUser},
            #{lastModified},
            #{createUser},
            #{createTime}
        )
    </insert>

    <update id="updateTenantTelephoneNumber">
        update ${databaseName}.base_telephone_num
        set `tenant_id`=#{tenantId},
            `telephone_num`=#{telephoneNum},
            `name`=#{name},
            `type`=#{type},
            `prefix`=#{prefix},
            `infix`=#{infix},
            `area_code`=#{areaCode},
            `registration_number`=#{registrationNumber},
            `concurrency_number`=#{concurrencyNumber},
            `line`=#{line},
            `comments`=#{comments},
            `last_modify_user`=#{lastModifyUser},
            `last_modified`=#{lastModified}
        where id = #{id}
    </update>

    <select id="checkTelephoneNumberExists" resultType="java.lang.Integer">
        select count(1)
        from ${databaseName}.base_telephone_num t
        where t.dr = 0
        and t.tenant_id = #{tenantId}
        and t.telephone_num = #{telephoneNum}
        <if test="id!=null and id>0">
            and t.id != #{id}
        </if>
    </select>

    <update id="deleteTenantTelephoneNumber">
        update ${databaseName}.base_telephone_num
        set `dr`= 1,
            `last_modify_user`=#{lastModifyUser},
            `last_modified`=#{lastModified}
        where id = #{id}
    </update>
</mapper>
